# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [6]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [7]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three_elements = a[-3:]
print(last_three_elements)

[4, 5, 6]

In [ ]:
# create a list of numbers from 1 to 20
numbers_from_1_to_20 = list(range(1, 21))

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
even_numbers_between_1_and_100 = list(range(2, 101, 2))

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide_numbers(a, b):
    if b == 0:
        return "Division by zero produces an error."
    return a / b

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
def fizzbuzz():
    for i in range(1, 31):
        if i % 3 == 0 and i % 5 == 0:
            print("fizzbuzz")
        elif i % 3 == 0:
            print("fizz")
        elif i % 5 == 0:
            print("buzz")
        else:
            print(i)

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmo_menu_prices = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [10]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

In [16]:
# select all rows with more than and including 400 calories
more_than_and_including_400_calories = df[df['calories'] >= 400]

In [17]:
# select all rows whose vitamin c content is higher than the iron content
higher_vit_c_than_iron = df[df["vitamin c"] > df["iron"]]

In [21]:
# create a new column containing the caffeine per calories of each drink
df = df.assign(caffeine_per_calories=df['caffeine'] / df['calories'])

0      58.333333
1      65.000000
2      66.000000
3      82.000000
4       1.071429
         ...
237     0.000000
238     0.000000
239     0.000000
240     0.000000
241     0.000000
Name: caffeine_per_calories, Length: 242, dtype: float64

In [22]:
# what is the average calorie across all items?
average_calories = df['calories'].mean()

193.87190082644628

In [23]:
# how many different categories of beverages are there?
number_of_beverage_categories = df['beverage_category'].nunique()

9

In [24]:
# what is the average # calories for each beverage category?
average_calories_in_beverage_category = df.groupby('beverage_category')['calories'].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64